<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name="sub_lidar_topic_name" default="/velodyne_packets"/>

  <arg name="pub_lidar_topic_name" default="/sensing/lidar/top/pointcloud_raw_ex"/>
  <param name="sub_lidar_topic_name" value="$(arg sub_lidar_topic_name)"/>
  <param name="pub_lidar_topic_name" value="$(arg pub_lidar_topic_name)"/>

  <node pkg="type_changer_sim" name="type_changer_sim" type="type_change_sim" />

</launch>